<div class="main">
    <div class="shadow"></div>
    <div class="confirm" @ANShowScale>
        <h6 class="confirm__text">
            Вы действительно хотите {{option.message}} ?
        </h6>
        <div class="confirm__actions">
            <button 
                class="action-btn"
                nz-button 
                nzType="default"
                nzSize="large" 
                (click)="event(false)" 
            >Отменить</button>
            <button 
                class="action-btn"
                nz-button 
                nzType="primary" 
                nzSize="large" 
                (click)="event(true)" 
                [nzLoading]="flags.isLoading">
                Подтвердить
            </button>
        </div>
    </div>
</div>
