@import 'styles.scss';

.main {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    padding: 2rem 2rem 0;
    overflow: hidden;

    .shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background: $theme;
        opacity: .7;
    }

    .confirm {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 1.5rem 2rem;
        position: relative;
        min-width: 280px;
        width: 30%;
        background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
        @include box-shadow();

        &__text {
            width: 100%;
            text-align: center;
            font-family: $comforta;
            padding-bottom: 1rem;
            font-size: 1rem;
            @include gradient-font($theme);
        }

        &__actions {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-top: 1rem;

            .action-btn {
                padding: 0 1rem;
                
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }
}