@import 'styles.scss';
@import 'assets/scss/table.scss';

.main {

    .row {
        display: flex;
        min-height: $cell-height;

        .item {
            display: flex;
            border-top: $cell-border;
            border-bottom: $cell-border;
            border-right: $cell-border;
        }

        .prefix {
            position: relative;
            border-bottom: $cell-border;
            border-right: $cell-border;
            height: auto;
            @extend .table-prefix;

            .title {
                margin: auto;
                font-weight: bold;
                font-family: $comforta;
                @include gradient-font($midnight);
            }
        
            .resizer {
                height: $resizer-size;
                cursor: row-resize;
                width: 100%;
                left: 0;
                bottom: 0;
                @extend .table-resizer;
            }
        
            &:hover > .resizer {
                opacity: 1;
            }
        }
    }
}