<div class="main">
    <ul class="row" [attr.data-resizer-parent] = 'rowIndex' [ngStyle] = 'getRowSize()'>
        <li class="prefix">
            <span class="text"> {{ rowIndex + 1 }} </span>
            <div class="resizer" 
                [attr.data-resizer-type] = "'row'"
            ></div>
        </li>
        <excel-excel-table-cell
            *ngFor = 'let cell of row; let idx = index;'
            [width] = 'getCellSize(cell)'
            [selected] = 'isSelected(cell)'
            [content] = 'getContent(cell)'
            [styles] = 'getStyles(cell)'
            [id] = 'cell'
        ></excel-excel-table-cell>
    </ul>
</div>

