<div class="main" @ANFade @ANChildAnimate>
    <div class="shadow"></div>
    <div class="content" @ANShowScale>
        <div 
            class="close"
            nz-tooltip
            nzTooltipTitle = 'Закрыть'
            nzTooltipPlacement = 'bottom'
            (click) = 'hide()'
        >
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </div>
        <div class="upload">
            <div class="upload-container">
                <input 
                    #fileRef 
                    hidden
                    type="file"
                    (change) = 'change($event)'
                 >
                <button 
                    class="btn upload-btn"
                    nz-button 
                    nz-tooltip
                    nzSize="large" 
                    nzShape="circle"
                    nzTooltipTitle = 'Выбрать фотографию'
                    nzTooltipPlacement = 'right'
                    (click) = 'fileRef.click()'
                ><i nz-icon nzType="upload"></i></button>
                <div *ngIf = 'preview' class="preview" @ANSize>
                    <ng-container [ngSwitch] = 'type'>
                        <img 
                            *ngSwitchCase = '"IMG"'
                            alt="picture" 
                            [@ANSizeState] = 'preview' 
                            [src]="preview | sanitizer"
                            (load) = 'revoke()'
                        >
                    </ng-container>
                </div>
            </div>
            <button 
                class="btn save-btn"
                nz-button 
                nzTheme = 'outline'
                nzType="primary" 
                nzSize="large"
                [nzLoading] = 'request'
                [disabled] = '!file'
                (click) = 'upload()'
            >
                    <i nz-icon nzType="save"></i>
                    Сохранить
            </button>
        </div>
    </div>
</div>

