@import 'styles.scss';

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex; 

    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100%;
        width: 100%;
        background: $theme;
        opacity: .7;
    }

    .content {
        display: flex;
        position: relative;
        z-index: 5;
        flex-direction: column;
        padding: 1rem 1.5rem;
        margin: auto;
        width: 100%;
        max-width: 500px;
        background: $clouds;
        @include box-shadow();

        .close {
            display: flex;
            align-self: flex-end;
            cursor: pointer;
            color: $default;
            transition: transform .3s ease, color .3s ease;

            &:hover {
                transform: scale(1.1);
                color: $pink;
            }

            i {
                margin: auto;
                
                font-size: 1.5rem;
            }
        }

        .upload {
            width: 100%;

            &-container {

                .upload-btn {
                    border: none;
                    color: #fff;
                    height: 50px;
                    width: 50px;
    
                    &:not(:disabled) {
                        background: $purple;
                        cursor: pointer;
                    }
    
                    &:not(:disabled):hover {
                        background: $lush;
                    }
                }

                .preview {
                    padding: 1rem 0;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    
                    img {
                        max-width: 100%;
                        max-height: 320px;
                        object-fit: cover;
                    }
                }
            }

            .save-btn {
                margin-top: 1rem;
                width: 100%;
            }
        }
    }
}