/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/mixins.scss';
@import 'assets/scss/extends.scss';
@import 'assets/scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
