<div class="main">
    <router-outlet></router-outlet>
</div>

<excel-confirm
    *ngIf = 'confirmOption$ | async as option'
    [option] = 'option'
></excel-confirm>

<excel-preloader
    *ngIf = 'preload$ | async'
></excel-preloader>