<div class="main">
    <nz-form-item class="item" >
        <nz-form-label 
            *ngIf ='label'
        >{{ label }}</nz-form-label>
        <nz-form-control
            [nzExtra] = 'extraMsgTpl'
            [nzHasFeedback] = 'feedback'
            [nzValidateStatus] = 'ngControl?.control'
            [nzErrorTip]="errorTpl"
        >
            <nz-input-group
                [nzPrefix] = 'prefixTpl'
                [nzSuffix] = 'suffixTpl'
            >
                <input 
                    class="input"
                    nz-input
                    [type] = 'type'
                    [ngClass] = 'getSize()'
                    [placeholder] = 'placeholder'
                    [attr.maxlength]="maxlength"
                    [attr.minlength]="minlength"
                    [ngModel] = 'value'
                    (ngModelChange) = 'setValue($event)'
                />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
</div>

<ng-template #prefixTpl>
    <ng-container *ngFor = 'let tpl of getTemplates("prefix")'>
        <ng-container *ngTemplateOutlet = 'tpl'></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet = 'actionsTpl;context:{type: "prefix"}'></ng-container>
</ng-template>
<ng-template #suffixTpl>
    <ng-container *ngFor = 'let tpl of getTemplates("suffix")'>
        <ng-container *ngTemplateOutlet = 'tpl'></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet = 'actionsTpl;context:{type: "suffix"}'></ng-container>
</ng-template>


<ng-template #errorTpl let-control>
    <div *ngFor = 'let error of control.errors | keyvalue'> {{ getErrorMsg(error.key, error.value) }} </div>
</ng-template>

<ng-template #extraMsgTpl>
    <div class="extra" [ngSwitch] = 'extra'>
        <span [ngStyle] = 'extraLengthCss' class="extra__length" *ngSwitchCase = '"length"'>{{value?.length || 0}} / {{maxlength}}</span>
        <div class="extra__default" *ngSwitchDefault>
            <ng-container *ngTemplateOutlet = 'extra'></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #actionsTpl let-morpheme = 'type'>
    <ng-container *ngFor = 'let action of inputActions'>
        <i 
            *ngIf = 'isShowIcon(morpheme, action.type)' 
            class="action-icon"
            nz-icon 
            [nz-tooltip] = 'action.tooltip'
            [nzTooltipTitle] = 'action.tooltip'
            [nzTooltipPlacement] = 'action.tooltipPlacement'
            [nzType]='action.icon' 
            [nzTheme]="action.theme"
            (click) = 'iconAction(action.type)'
        ></i>
    </ng-container>
</ng-template>


