.main {
    width: 100%;

    .item {
        margin: 0;
    }

    .input {
        width: 100%;
    }

    .extra {
        display: flex;

        &__length {
            margin-left: auto;
        }

        &__default {
        }
    }
}

::ng-deep .main .ant-input-affix-wrapper {
    align-items: baseline;
}

.small {
    height: 24px;
}

.default {
    height: 32px;
}

.large {
    height: 40px;
}

.action-icon {
    cursor: pointer;
    margin: 0 .25rem;
}