@import 'styles.scss';

.main {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .content {
        animation: show-top .3s ease;

        span {
            margin-right: 1rem;
            font-weight: bold;
        }
    }
}

@keyframes show-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.default {
    @include gradient-font($midnight);
}

.warning {
    @include gradient-font($sunkist);
}

.error {
    @include gradient-font($youtube);
}

.success {
    @include gradient-font($terminal);
}

