<div class="main">
    <div class="content">
        <span [ngClass] = 'getMessageCss()'> {{ message }} </span>
        <i 
            *ngIf = 'loading'
            nz-icon 
            nzType="sync" 
            [nzSpin]="true"
            [ngStyle] = 'loadingCss'
        ></i>
    </div>
</div>
