<div class="main" 
    #tableRef
    (mousedown) = 'onMouseDown($event)'
    [style.maxHeight] = 'maxHeight'
>
    <excel-excel-table-header
        [columns] = 'columns'
        [colSize] = 'table.ColSize'
    ></excel-excel-table-header> 
    <excel-excel-table-row
        *ngFor = 'let row of rows;'
        [row] = 'getRow(row)'
        [rowIndex] = 'row'
        [rowSize] = 'table.RowSize[row]'
        [colSize] = 'table.ColSize'
        [selectedCells] = 'state.selectedCells'
        [table] = 'table'
        (click) = 'select($event)'
        (input) = 'inputCell($event)'
        (keyup.arrowLeft) = 'arrow("left")'
        (keyup.arrowRight) = 'arrow("right")'
        (keyup.arrowUp) = 'arrow("up")'
        (keyup.arrowDown) = 'arrow("down")'
        (keydown.enter) = 'selectNext($event)'
        ></excel-excel-table-row>
</div>
