

.main {
    max-width: 100%;
    overflow: auto;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar:vertical {
    width: 6px;
}


::-webkit-scrollbar-thumb:horizontal {
    height: 4px;
}

::-webkit-scrollbar-thumb:vertical {
    width: 4px;
}


::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #0080ff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f600fe), color-stop(1.00, #fd63ff));
    background: -webkit-linear-gradient(#f600fe, #fd63ff);
    background: -moz-linear-gradient(#f600fe, #fd63ff);
    background: -o-linear-gradient(#f600fe, #fd63ff);
    background: -ms-linear-gradient(#f600fe, #fd63ff);
    background: linear-gradient(#f600fe, #fd63ff);
}
::-webkit-scrollbar-thumb:hover {
    background: #C60088;
}
::-webkit-scrollbar-thumb:active {
    background: #6D024B;
}
::-webkit-scrollbar-track {
    background: #F6E4F0;
}
::-webkit-scrollbar-track:active {
    background: #FCC9EC;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
