<div class="main" *ngIf = 'table$ | async as table'>
    <excel-excel-header 
        class="child"
        [title] = 'table.Title'
        [disableSave] = '!dataFlags.isUnsavedTable'
        [isCanRemove] = 'table._id | boolean'
        [isShowTitleCtrl] = 'viewFlags.isShowTitleCtrl'
        (showTitleCtrl) = 'showTitleCtrl($event)'
        (setTitle) = 'viewService.setTitle($event)'
        (back) = 'back()'
        (save) = 'save()'
        (remove) = 'confirmRemove()'
    ></excel-excel-header>
    <excel-excel-toolbar 
        *ngIf = 'state.currentCell'
        class="child"
        [icons] = 'toolbarIcons' 
        [defaultStyles] = 'toolbarDefaultStyles'
        [currentStyles] = 'getToolbarStyles()'
        (setStyles) = 'viewService.setStyles($event)'
    ></excel-excel-toolbar>
    <excel-excel-formula 
        class="child"
    ></excel-excel-formula>
    <excel-excel-table 
        class="child"
        [state] = 'state'
        [table] = 'table'
        [size] = 'tableSize'
        [tableEvents] = 'tableEvents'
    ></excel-excel-table>
</div>

