@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 1rem;

    .child {
        width: 100%;
        margin-top: 1rem;

        &:first-child {
            border-top: 1px solid #e5e5e5;
        }

        &:not(:last-child) {
            border-radius: 8px;
            border-bottom: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
            transition: box-shadow .3s ease-in, border-color .3s linear, transform .3s linear;
        }

        &:not(:last-child):hover {
            position: relative;
            z-index: 2;
            transform: scale(1.01);
            border-color: transparent;
            @include box-shadow(rgb(255, 179, 0));
        }

        &:last-child {
            flex-grow: 1;
        }
    }
}