@import 'assets/scss/table.scss';

.cell {
    border-bottom: $cell-border;
    border-right: $cell-border;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    outline: none;
    word-break: break-word;
    overflow: hidden;
    position: relative;
    min-width: $cell-min-width;
    width: $cell-width;
    height: 100%;

    &.selected {
        @include gradient-border(2px, $theme);
    }
}
