<div class="waveWrapper waveAnimation main">
    <div class="form">
        <excel-login 
            class="form-item" 
            [length] = 'length'
            [request] = 'dataFlags.isLoginReq'
            (login) = 'dataService.login($event)'
        ></excel-login>
        <excel-registration  
            class="form-item" 
            (hide) = 'show(false)'
            (show) = 'show(true)'
            [length] = 'length'
            [request] = 'dataFlags.isRegistrationReq'
            [isShow] = 'viewFlags.isShowRegistration'
            [emitter$] = 'emitter$'
            [class.active] = 'viewFlags.isShowRegistration'
            (registration) = 'dataService.registration($event)'
        ></excel-registration>
    </div>
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom"></div>
    </div>
  </div>
