@import 'styles.scss';

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to right, rgb(127, 0, 255),rgb(225, 0, 255));
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-image: url('/assets/img/auth/wave-top.png');
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-image: url('/assets/img/auth/wave-mid.png');
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-image: url('/assets/img/auth/wave-bot.png');
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.form {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 16;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    overflow: hidden;

    &-item {
        position: relative;
        display: flex;
        min-width: 100%;
        transition: transform .4s ease;

        &:first-child {
            z-index: 1;
            background: $clouds;

            &.deactive {
                transform: translateX(-100%);
            }
        }

        &:last-child {
            z-index: 2;
            background: $facebook;
            transform: translateX(-2.5rem);

            &.active {
                transform: translateX(-100%);
            }
        }
    }
}





@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}