$theme: linear-gradient(to right, rgb(127, 0, 255), rgb(225, 0, 255));
$dimigo: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
$purple: linear-gradient(to right, rgb(218, 34, 255), rgb(151, 51, 238));
$hearts: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220));
$lush: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
$terminal: linear-gradient(to right, rgb(0, 0, 0), rgb(15, 155, 15));
$facebook: linear-gradient(to right, rgb(0, 198, 255), rgb(0, 114, 255));
$wiretap: linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));
$sunkist: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
$roseanna: linear-gradient(to right, rgb(255, 175, 189), rgb(255, 195, 160));
$blooker: linear-gradient(to right, rgb(230, 92, 0), rgb(249, 212, 35));
$youtube: linear-gradient(to right, rgb(229, 45, 39), rgb(179, 18, 23));
$sweet: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
$morning: linear-gradient(20deg, #f92056 38%, #00deff 65%);
$lawrencium: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
$kimoby: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
$blue: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
$skyline: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
$midnight: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
$clouds: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
$darklight: linear-gradient(to left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
$sliver: #e5e5e5;
$pink: #ff4081;
$default: rgb(127, 0, 255);
$hover: rgb(252, 103, 103);
$prefix-color: dodgerblue;
