@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bellota+Text&family=Comfortaa:wght@300&family=M+PLUS+Rounded+1c:wght@300&family=Montserrat:wght@300;500&display=swap');

$amatic: 'Amatic SC', cursive;
$bellota: 'Bellota Text', cursive;
$comforta: 'Comfortaa', cursive;
$mplus: 'M PLUS Rounded 1c', sans-serif;
$montserrat: 'Montserrat', sans-serif;