@mixin box-shadow($color: rgba(50, 50, 13, 1)) {
    box-shadow: 0px 0px 10px 0px $color;
}

@mixin box-shadow-x {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

@mixin gradient-border($size: 1px, $gradient: $morning) {
    border: $size solid;
    border-image: $gradient;
    border-image-slice: 1;
}

@mixin gradient-font($gradient: $theme) {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin auth-header($header-color: $blue, $borer-color: $darklight) {
    position: relative;
    padding: 1.5rem 0;
    text-align: center;
    font-family: $amatic;
    letter-spacing: 2px;
    font-size: 2rem;
    width: 100%;
    max-width: 320px;
    font-weight: bold;
    @include gradient-font($header-color);

    &:before, &:after {
        position: absolute;
        content: '';
        display: block;
        height: 1px;
        top: 50%;
        width: 70px;
        background: $borer-color;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}