.icon {
    cursor: pointer;
    transition: color .3s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:not(.two-tone) {
        color: rgb(127, 0, 255);
    }

    &:disabled {
        cursor: not-allowed;
        color: #e5e5e5;
    }

    &:hover {
        color: rgb(252, 103, 103);
    }
}

.btn {
    &:disabled {
        background: rgba(91, 79, 79, .1);
        cursor: not-allowed;
        border: none;
    }
}

.disable-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.icon-offset-x-small {
    margin: 0 .3rem;
}

.icon-offset-x-medium {
    margin: 0 .5rem;
}

.icon-offset-x-large {
    margin: 0 .7rem;
}

