@import '../../styles.scss';

.table-prefix {
    display: flex;
    border-left: $cell-border;
    width: $row-prefix-width;
    height: $cell-height;
    min-width: $row-prefix-width;
    min-height: $cell-height;
    user-select: none;

    .text {
        margin: auto;
        font-size: 1rem;
    }
}

.table-resizer {
    position: absolute;
    opacity: 0;
    background: $lush;
    transition: opacity .3s linear, width .2s linear, height .2s linear;

    &.active {
        opacity: 1;
    }

    &:hover, &.active {
        background: $youtube;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}