<div class="main">
    <div class="content">
        <h1 class='title'>
           Страница не найдена
        </h1>
        <button 
            class="btn"
            nz-button 
            nzType="primary" 
            nzSize="large" 
            nzShape="round"
            (click) = 'navigate()'>
            <i nz-icon nzType="rollback" nzTheme="outline"></i>
            Вернуться назад
        </button>
    </div>
</div>
