@import 'assets/scss/colors.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/mixins.scss';

.main {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/assets/img/not-found/not-found-bg.jpg') no-repeat;
    animation: bg-animation 25s ease-in-out infinite;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        .title {
            padding-bottom: 1rem;
            font-family: $comforta;
            font-weight: normal;
            color: darkkhaki;
            text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #ffdf45, 0 0 35px #ffdf45, 0 0 40px #ffdf45, 0 0 50px #ffdf45, 0 0 75px #ffdf45;
            animation: glitch 4s ease-in-out infinite alternate;
        }

        .btn:hover ~ .title {
            @include gradient-font($blooker);
        }

        .btn {
            background: $dimigo;
            padding: 1rem 1.5rem;
            color: #fff;
            border: none;
            border-radius: 8px;
            outline: none;
            font-size: 1.5rem;
            font-family: $amatic;
            font-weight: bold;
            letter-spacing: 3px;
            cursor: pointer;
            transition: background .3s linear, box-shadow .3s ease, transform .4s cubic-bezier(0.215, 0.610, 0.355, 1);
            box-shadow: 0px 5px 27px 4px #ff45ac;


    
            &:hover {
                transform: scale(1.2);
                background: $blooker; 
                box-shadow: 0px 5px 27px 4px #ffdf45;
            }
        }
    }
}

@keyframes bg-animation {
    0% {
        background-size: 120%;
        background-position: 50% 50%
    }
    20% {
        background-size: 150%;
        background-position: 0 50%;
    }    
    40% {
        background-size: 110%;
        background-position: 20% 80%;
    }
    60% {
        background-size: 160%;
        background-position: 60% 10%;
    }
    80% {
        background-size: 120%;
        background-position: 40% 70%;
    }    
    100% {
        background-size: 120%;
        background-position: 50% 50%
    }
}

@keyframes glitch {
    0%,40%,44%,58%,61%,65%,69%,73%,100% {transform:skewX(0deg);}
    41% {transform: skewX(10deg);}
    42% {transform: skewX(-10deg);}
    59% {transform: skewX(40deg) skewY(10deg);}
    60% {transform: skewX(-40deg) skewY(-10deg);}
    63% {transform: skewX(10deg) skewY(-5deg);}
    70% {transform: skewX(-50deg) skewY(-20deg);}
    71% {transform: skewX(10deg) skewY(-10deg);}
}