@import 'styles.scss';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        @include auth-header;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: .7;
        width: 70%;
        padding-bottom: 1.5rem;
        min-width: 300px;

        .control {
            padding-top: 1rem;
            width: 100%;
            max-width: 100%;
        }

        .btn {
            width: 100%;
            margin: 2rem 0 1.5rem;
            color: #fff;
        }
    }
}