<div class="main">
    <h1 class="header">Вход</h1>
    <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
        <excel-form-input
            formControlName = 'Email'
            class="control"
            fieldName = 'Email'
            placeholder = 'Введите email'
            size = 'large'
            [extra] = 'null'
        ></excel-form-input>

        <excel-form-input
            class="control"
            type = 'password'
            fieldName = 'Пароль'
            placeholder = 'Введите пароль'
            size = 'large'
            [suffix] = '["hide", "reset"]'
            [maxlength] = 'length.Password.max'
            formControlName = 'Password'
        ></excel-form-input>
        <button 
            nz-button 
            nzSize = 'large'
            class="btn"
            type = 'submit'
            nzType="primary" 
            [nzLoading]="request"
            [disabled] = 'isDisabledForm()'
        >
            Войти
        </button>
    </form>
</div>
