<div class="main">
    <div class="panel" [class.active] = '!isShow' (click) = 'show("show")'>
        <i nz-icon nzType="pause" nzTheme="outline"></i> 
        <div class="letters">
            <span *ngFor = 'let letter of header' class="letters-item"> {{ letter }} </span>
        </div>
    </div>
    <div class="content">
        <div 
            class="close"
            nz-tooltip
            nzTooltipTitle = 'Закрыть'
            nzTooltipPlacement = 'bottom'
            [class.active] = 'isShow'
            (click) = 'show("hide")'
         >
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </div>
        <h1 class="header">Регистрация</h1>
        <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
            <excel-form-input
                formControlName = 'Email'
                class="control"
                fieldName = 'Email'
                placeholder = 'Введите email'
                size = 'large'
                [suffix] = '["reset"]'
                [extra] = 'null'
                [extraLengthCss] = 'extraLengthCss'
                [extra] = 'form.get("Email").pending ? pendingTpl : null'
            ></excel-form-input>

            <excel-form-input
                formControlName = 'Password'
                class="control"
                type = 'password'
                fieldName = 'Пароль'
                placeholder = 'Введите пароль'
                size = 'large'
                [suffix] = '["hide", difficultTpl, "reset"]'
                [maxlength] = 'length.Password.max'
                [extraLengthCss] = 'extraLengthCss'
            ></excel-form-input>
            
            <excel-form-input
                formControlName = 'ConfirmPassword'
                class="control"
                type = 'password'
                fieldName = 'Подтверждение пароля'
                placeholder = 'Подтвердите пароль'
                size = 'large'
                [suffix] = '["hide", "reset"]'
                [maxlength] = 'length.Password.max'
                [extraLengthCss] = 'extraLengthCss'
                [extra] = 'isEqualPasswords() ? "length" : passwordErrorTpl'
            ></excel-form-input>
            <button 
                nz-button 
                nzSize = 'large'
                class="btn"
                [class.active] = '!isDisabledForm()'
                type = 'submit'
                nzType="primary" 
                [nzLoading]="request"
                [disabled] = 'isDisabledForm()'
            >
                Регистрация
            </button>
        </form>
    </div>
</div>

<ng-template #difficultTpl>
    <i 
        @ANFade
        *ngIf = 'isShowDifficlutIcon()'
        class="difficult-icon"
        [ngClass] = 'getDifficultStyles(true)'
        nz-icon 
        nz-dropdown
        nzType="info-circle"
        nzTheme="outline"
        nzTrigger = 'hover'
        nzPlacement = 'bottomLeft'
        [nzDropdownMenu]="difficultRef"
    ></i>
    <nz-dropdown-menu #difficultRef="nzDropdownMenu">
        <div class="difficult">
            <div class="difficult-info">
                <p class="difficult-info-header">
                    Максимальная сложность пароля должна содержать хотя бы:
                </p>
                <ul class="difficult-info-list">
                    <li 
                        *ngFor = '
                            let opt of difficultPasswordOptions;
                            trackBy:trackByFn;
                            let idx = index;
                        '
                        class="difficult-info-list-item"
                    >
                       {{idx + 1}}. 
                       <span 
                            class="difficult-info-list-item-text"
                        >
                            {{ opt.message }}
                       </span> 
                    </li>
                </ul>
            </div>
            <p class="difficult-status">
                <span class="difficult-status-title">Сложность пароля:</span>
                <span 
                    [@ANStateScale] = 'getDifficultStatus()'
                    class="difficult-status-value"
                    [ngClass] = 'getDifficultStyles()'
                > {{ getDifficultStatusTitle() }} </span>
            </p>
        </div>
    </nz-dropdown-menu>
</ng-template>

<ng-template #passwordErrorTpl>
    <excel-message
        message = 'Пароли не совпадают'
        type = 'error'
    ></excel-message>
</ng-template>

<ng-template #pendingTpl>
    <excel-message
        message = 'Проверка на совпадение'
        type = 'warning'
        [loading] = 'true'
    ></excel-message>
</ng-template>