@import 'styles.scss';

.main {
    display: flex;
    width: 100%;

    .panel {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        text-align: center;
        width: 0px;
        overflow: hidden;
        transition: transform .3s linear, width .3s ease;

        @for $i from 1 through 11 {
            .letters-item:nth-child(#{$i}) {
                font-size: 0;
                opacity: 0;
                transform: translateY($i * -125%);
            }
        }

        &:hover {
            transform: scale(1.04);

            @for $i from 1 through 11 {
                .letters-item:nth-child(#{$i}) {
                    font-size: 1rem;
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }

        i { 
            margin-top: 1rem;
            color: #fff;
            font-size: 2rem;
            margin-bottom: .3rem;
        }

        .letters {
            z-index: 1;
            color: #fff;
            font-family: $comforta;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            
            &-item {
                margin-top: .3rem;
                transition: 
                    transform .25s ease .3s, 
                    opacity .15s ease .2s,
                    font-size .2s ease .1s;
            }

        }

        
        &.active {
            cursor: pointer;
            width: 40px;

            &:hover {
                background: $youtube;
            }
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        padding-bottom: 1.5rem;

        .close {
            position: absolute;
            display: flex;
            top: 1rem;
            right: 1rem;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            border: 2px solid #fff;
            cursor: pointer;

            i {
                color: #fff;
                font-size: 1.5rem;
                margin: auto;
            }
           
            &.active {
                animation: show-scale .3s .5s ease forwards;
            }
        }

        .header { 
            @include auth-header($clouds);
        }
        
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;

            .control {
                padding-top: 1rem;
                max-width: 100%;
                width: 100%;
            }

            .btn {
                width: 100%;
                margin: 2rem 0 1.5rem;
                color: #fff;
                border: none;

                &.active {
                    background: $dimigo;

                    &:hover {
                        background: $wiretap;
                    }
                }
            }

        }
    }
}

.difficult { 
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    background: $clouds;
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    min-width: 280px;
    @include box-shadow();

    &-icon {
        cursor: pointer;
        margin: 0 0.25rem;
        transition: color .3s linear;
    }
    
    &-info {

        &-header {
            font-family: $montserrat;
            font-size: .9rem;
            word-break: break-word;
            @include gradient-font($facebook);
        }

        &-list {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;

            &-item {
                padding: .3rem 0;
                font-weight: bold;
                @include gradient-font($blue);

                &-text {
                    font-weight: normal;
                    font-size: .7rem;
                    font-family: $comforta;
                    @include gradient-font($dimigo);
                }
            }
        }
    }

    &-status {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-title {
            font-size: .9rem;
            font-family: $bellota;
            @include gradient-font($lawrencium);
        }

        &-value {
            font-family: $amatic;
            letter-spacing: 1px;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: .7rem;
        }
    }
}

.low-icon {
    color: red;
}

.middle-icon {
    color: goldenrod;
}

.high-icon {
    color: dodgerblue;
}

.extra-icon {
    color: rgb(109, 187, 109);
}


.low {
    @include gradient-font($youtube);
}

.middle {
    @include gradient-font($blooker);
}

.high {
    @include gradient-font($facebook);
}

.extra {
    @include gradient-font($lush);
}

@keyframes show-scale {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

