@import 'styles.scss';

.main {
    display: flex;
    align-items: baseline;
    padding: 1.5rem .5rem 0;

    .logo {
        width: 80px;
        height: 50px;

        .img {
            max-width: 100%;
            object-fit: cover;
        }
       
    }

    .control {
        flex-grow: 1;
        padding-right: 1.5rem;
    }
}

.info {
    padding: 1rem;
    border-radius: 8px;
    background: $clouds;
    @include box-shadow();
    max-width: 280px;

    &-text {
        font-size: .8rem;
        font-family: $comforta;
        @include gradient-font($lawrencium);
        
        &-key {
            font-size: 1rem;
            font-weight: bold;
            font-family: $bellota;
            @include gradient-font($youtube); 
        }
    }
    

    &-icon {
        cursor: pointer;
        font-size: 1.5rem;
        vertical-align: middle;
    }
    
}