<div class="main">
    <div class="logo">
        <img class="img" src="/assets/img/excel/fx-purple.jpg">
    </div>
    <excel-form-input
        class="control"
        fieldName = 'Формула'
        placeholder = 'Введите данные'
        [suffix] = '[infoTpl]'
        [feedback] = 'false'
        [maxlength] = '"100"'
        [(ngModel)] = 'value'
        (keyup.enter) = 'action()'
    ></excel-form-input>
</div>

<ng-template #infoTpl>
    <i 
        class="info-icon"
        nz-icon 
        nz-dropdown
        nzType="info-circle"
        nzTheme="twotone"
        nzTrigger = 'hover'
        nzPlacement = 'topLeft'
        [nzDropdownMenu]="infoRef"
    ></i>
    <nz-dropdown-menu #infoRef="nzDropdownMenu">
        <div class="info">
            <p class="info-text">
                Чтобы применить данные,введенные в поле, к выделенным ячейкам, нажмите клавишу:
                <span class="info-text-key"> "Enter" </span>
            </p>
        </div>
    </nz-dropdown-menu>
</ng-template>




