<div class="main">
    <ng-container *ngIf = 'isShowTitleCtrl;then inputTpl; else titleTpl'></ng-container>
    <div class="actions">
        <button
            class="actions-btn" 
            nz-button 
            nz-tooltip
            nzType="primary" 
            nzSize="large" 
            nzShape="circle"
            nzTooltipTitle = 'Сохранить изменения'
            nzTooltipPlacement = 'bottom'
            [disabled] = 'disableSave'
            (click) = 'save()'>
                <i nz-icon nzType="download" nzTheme = 'outline'></i>
        </button>
        <button
            *ngIf = 'isCanRemove'
            class="actions-btn" 
            nz-button 
            nz-tooltip
            nzType="primary" 
            nzSize="large" 
            nzShape="circle"
            nzTooltipTitle = 'Удалить таблицу'
            nzTooltipPlacement = 'bottom'
            (click) = 'remove()'>
                <i nz-icon nzType="delete" nzTheme = 'outline'></i>
        </button>
        <button
            class="actions-btn" 
            nz-button 
            nz-tooltip
            class = 'back'
            nzType="primary"
            nzSize="large" 
            nzShape="round"
            nzTooltipTitle = 'На главную'
            nzTooltipPlacement = 'bottom'
            (click) = 'back()'
        >
            <i 
                nz-icon
                class="toolbar-icon"
                nzTheme="outline"
                nzType="export"
            ></i>
        </button>
    </div>
</div>

<ng-template #titleTpl>
    <div class="info" (click) = 'showTitleCtrl(true)'>
        <h3 
            nz-tooltip
            class = 'title'
            nzTooltipTitle = 'Изменить'
            nzTooltipPlacement = 'right'
        > {{ title }} </h3>
    </div>
</ng-template>
<ng-template #inputTpl>
    <div class="form">
        <excel-form-input
            class="control"
            fieldName = 'Название таблицы'
            placeholder = 'Введите название таблицы'
            [feedback] = 'false'
            [maxlength] = 'maxlength'
            [formControl] = 'titleControl'
        ></excel-form-input>
        <i 
            nz-icon 
            nz-tooltip
            class="icon two-tone" 
            nzType="save" 
            nzTheme="twotone"
            nzTooltipTitle = 'Сохранить'
            nzTooltipPlacement = 'bottom'
            (click) = 'setTitle()'
        ></i>
        <i 
            nz-icon 
            nz-tooltip
            class="icon two-tone" 
            nzType="close-circle" 
            nzTheme="twotone"
            nzTooltipTitle = 'Отменить'
            nzTooltipPlacement = 'bottom'
            (click) = 'showTitleCtrl(false)'
        ></i>
    </div>
</ng-template>
