@import 'styles.scss';

.main {
    padding: 1.5rem 1.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .actions {
        display: flex;
        align-items: center;
        
        &-btn {
            margin: 0 .3rem;
        }
    }

    .back {
        color: #fff;
        background: $facebook;
        border: none;

        &:hover {
            background: $youtube;
        }
    }

    .info {
        display: flex;
        animation: show-y-up .3s cubic-bezier(0.165, 0.84, 0.44, 1);

        .title {
            font-family: $comforta;
            font-size: 1.3rem;
            
            font-weight: bold;
            cursor: pointer;
            letter-spacing: 3px;
            @include gradient-font($facebook);

            &:hover {
                @include gradient-font($sunkist);
            }
        }
    }

    .form {
        display: flex;
        flex-grow: 1;
        align-items: baseline;
        animation: show-y-down .3s cubic-bezier(0.165, 0.84, 0.44, 1);

        .control {
            flex-basis: 500px;
        }

        .icon {
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }
}

@keyframes show-y-up {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes show-y-down {
    from {
        opacity: 0;
        transform: translateY(100%);
    } to {
        opacity: 1;
        transform: translateY(0%);
    }
}