@import 'styles.scss';

:host {
    margin: 0 .5rem;
    width: calc(100% / 4 - 1rem);
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    

    &:hover > .box {
        @include box-shadow-x;
    }

    .box {
        position: relative;
        display: flex;
        padding-top: 75%;
        transition: box-shadow .7s cubic-bezier(0.19, 1, 0.22, 1);

        &:not(.create) {
            padding-top: 75%;
            min-height: 80px;
            @include gradient-border(2px);
        }

        &:not(.create) > img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
        

        &.create {
            align-items: center;
            border-radius: 50%;

            img {
                max-width: 100%;   
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        img {
            position: absolute;
        }
    }

    .create-title {
        font-size: .8rem;
        padding-top: 1rem;
        font-family: $montserrat;
        text-align: center;
        @include gradient-font($wiretap);
    }

    .info {
        padding-top: .8rem;

        &__title {
            font-family: $montserrat;
            font-size: .85rem;
            @include gradient-font($skyline);
        }

        &__date {

            span:first-of-type {
                @include gradient-font($midnight);
                font-family: $montserrat;
                font-size: .8rem;
            }

            span:last-of-type {
                font-family: $comforta;
                @include gradient-font($youtube);
            }
        }
    }
}