<div class="main" (click) = 'navigate()'>
    <div class="box" [class.create] = 'type === "create"'>
        <img [src]="getImgLogoUrl()" alt="table-picture">
    </div>
    <ng-container *ngIf = 'type === "create";then createTpl;else tableTpl'></ng-container>
</div>

<ng-template #createTpl>
    <h6 class="create-title">Cоздать таблицу</h6>
</ng-template>
<ng-template #tableTpl>
    <div class="info">
        <h6 class="info__title">{{ table.Title }}</h6>
        <p class="info__date">
            <span>Создана: </span>
            <span>{{ table.Created | date:'mediumDate':null:'ru' }} </span>
        </p>
    </div>
</ng-template>
