<div class="main">
    <excel-dashboard-list-card
        type = 'create'
        (navigate) = 'navigate($event)'
    ></excel-dashboard-list-card>
    <excel-dashboard-list-card
        *ngFor = 'let table of tables'
        [table] = 'table'
        type = 'default'
        (navigate) = 'navigate($event)'
    ></excel-dashboard-list-card>
</div>

