<div class="main" #mainRef *ngIf = 'tables$ | async as tables'>
    <nz-table
      class="table"
      #tabelRef
      nzShowSizeChanger
      nzShowPagination
      nzTableLayout="auto"
      nzPaginationPosition="bottom"
      nzSize="middle"
      [nzData]="tables.rows"
      [nzSimple] = 'false'
      [nzPageIndex] = 'page.skip + 1'
      [nzPageSize] = 'page.limit'
      [nzTotal] = 'tables.totalCount'
      [nzLoading]="isDisabled()"
      [nzFrontPagination]="false"
      [nzPageSizeOptions] = "[5, 10, 20]"
      [nzHideOnSinglePage] = 'true'
      [nzNoResult] = "emptyTpl"
      (nzQueryParams)="currentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            [nzChecked]="isSelectedAll()"
            [nzDisabled] = 'isDisabled() || isEmpty()'
            [nzIndeterminate]="false"
            (nzCheckedChange)="selectAll($event)"
          ></th>
          <th nzColumnKey = 'Title' class="column">
            <span 
                class="column-action"
                nz-dropdown 
                nzTrigger = 'click'
                [class.active]="isActiveQuery('Title')"
                [nzDropdownMenu]="titleSearchRef"
                [(nzVisible)]="viewFlags.isShowTitleSearch"
              >
                <i nz-icon nzType="search"></i>
            </span>
            <span class="column-text">Название таблицы</span>
          </th>
          <th  
              nzSortFn
              nzColumnKey = 'LastVisit'  
              nzAlign='right' 
              [excelDisabledBox] = 'isDisabledSort()'
            >
              <!-- class="sort" -->
            <span 
              class="open-date"
              
            >Дата открытия</span>
          </th>
          <th nzColumnKey = 'actions' class="header-actions">
            <button
                *ngIf = 'state.selectedTables.length'
                class="actions-btn" 
                nz-button 
                nz-tooltip
                nzType="primary" 
                nzSize="small" 
                nzShape="circle"
                nzTooltipTitle = 'Удалить выбранные таблицы'
                [nzLoading] = 'dataFlags.isRemoveReq'
                nzTooltipPlacement = 'bottom'
                (click) = 'confirm()'>
                    <i nz-icon nzType="delete" nzTheme = 'outline'></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr 
            *ngFor="let table of tables.rows;let idx = index;trackBy: trackByFn"
            [class.selected] = 'isSelected(table._id)'
          >
            <td 
              [nzChecked]="isSelected(table._id)" 
              [nzDisabled] = 'isDisabled() || isEmpty()'
              (nzCheckedChange)="select(table._id)"
            ></td>
            <td [nzBreakWord] = 'true'>{{ table.Title }}</td>
            <td nzAlign='right'>{{ table.LastVisit | date:'medium':null:'ru' }}</td>
            <td nzAlign='right'>
                <i 
                  nz-icon 
                  nzType="edit" 
                  nz-tooltip
                  nzTooltipTitle = 'Редактировать'
                  nzTooltipPlacement = 'left'
                  class="pointer icon-offset-x-small" 
                  nzTheme="twotone"
                  (click) = 'navigate(table._id)'
                ></i>
                <i 
                  nz-icon 
                  nz-tooltip
                  nzTooltipTitle = 'Удалить'
                  nzTooltipPlacement = 'right'
                  nzType="delete" 
                  class="pointer icon-offset-x-small" 
                  nzTheme="twotone"
                  (click) = 'confirm(table._id, table.Title)'
                ></i>
            </td>
          </tr>
      </tbody>
    </nz-table>
</div>

<ng-template #emptyTpl>
    <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl"
    >
        <ng-template #contentTpl>
            <span>Список таблиц пуст</span>
        </ng-template>
  </nz-empty>
</ng-template>

<nz-dropdown-menu #titleSearchRef="nzDropdownMenu">
  <div class="ant-table-filter-dropdown search-dropdown">
    <div class="search-box">
      <input 
        type="text" 
        nz-input 
        placeholder="Введите название" 
        [ngModel] = 'query?.filter.Title' 
        (ngModelChange) = 'changeFilter($event, "Title")'
      />
      <div class="search-dropdown-actions">
        <button 
          nz-button
          class="search-dropdown-actions-btn" 
          nzSize="default" 
          [disabled] = 'isDisabledReset("Title")'
          (click)="resetField('Title')"
        >Сбросить</button>
        <button 
          nz-button 
          class="search-button search-dropdown-actions-btn"
          nzSize="default" 
          nzType="primary" 
          [disabled] = 'isDisabledSendFilter("Title")'
          (click)="search()" 
        >Искать</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
