@import 'assets/scss/colors.scss';

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative;
    z-index: 0;

    .table {
        width: 100%;

        .sort {
            position: relative;
        }

        .open-date {
            display: inline-block;
            transform: translateX(-50%);
        }

        .header-actions {
            text-align: right;
        }

        .column {
            display: flex;
            align-items: center;

            &-text {
                padding-left: .7rem;
            }

            &-action {
                cursor: pointer;

                &.active {
                    color: $pink;
                }
            }
        }
    }
}

.search-dropdown {
    padding: 1rem;

    &-actions {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;

        &-btn {

            &:first-child {
                margin-right: 1rem;
            }
        } 
    }
}


.selected {
    background: $purple;
}

// ::ng-deep .ant-select-selection-item {
//     color: red;
//     content: '';
// }