<div class="main">
    <excel-dashboard-header
        [isShowUpload] = 'viewFlags.isShowUpload'
        [isUploadReq] = 'userDataFlags.isUploadAvatar'
        [avatar] = 'avatar$ | async'
        (logout) = 'loginService.logout()'
        (remove) = 'confirmRemoveUser()'
        (showUpload) = 'viewService.showUpload($event)'
        (upload) = 'userDataService.uploadAvatar($event)'
    ></excel-dashboard-header>
    <excel-dashboard-list
        *ngIf = 'tables$ | async as tables'
        [tables] = 'tables.rows.slice(0, 3)'
    ></excel-dashboard-list>
    <excel-dashboard-table></excel-dashboard-table>
</div>
