@import 'styles.scss';
@import 'assets/scss/table.scss';

.main {

    .cols {
        white-space: nowrap;
        vertical-align: middle;

        .item {
            display: inline-block;
            font-size: 0;
            border-top: $cell-border;
            border-bottom: $cell-border;
            border-right: $cell-border;
            text-align: center;
            user-select: none;

            .text {
                font-size: 1rem;
                line-height: $cell-height;
            }
        }

        .prefix {
            @extend .table-prefix;
            vertical-align: top;

            i {
                color: $prefix-color;
            }
        }

        .col-cell {
            position: relative;
            width: $cell-width;
            min-width: $cell-min-width;
            height: $cell-height;

            .title {
                margin: auto;
                font-weight: bold;
                font-family: $comforta;
                @include gradient-font($midnight);
            }

            .resizer {
                cursor: col-resize;
                @extend .table-resizer;
                opacity: 0;
                height: 100%;
                width: $resizer-size;
                right: 0;
                top: 0;
            }

            &:hover > .resizer {
                opacity: 1;
            }
        }
    }
}