<div class="main">
    <ul class="cols">
        <li class="prefix item">
            <i class="text" nz-icon nzType="field-number" nzTheme="outline"></i>
        </li>
        <li 
            class="col-cell item" 
            *ngFor = 'let col of columns;let idx = index;'
            [attr.data-resizer-parent] = 'idx'
            [ngStyle] = 'getSize(idx)'
        >
            <span class="text title">{{ col }}</span>
            <div class="resizer" [attr.data-resizer-type] = '"column"'></div>
        </li>
    </ul>
</div>
