@import 'styles.scss';

.main {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .btn {
        font-family: $comforta;
        background: $purple;
        color: #fff;
        border: none;
        margin: 0 .3rem;
        transition: transform .3s linear;
        @include box-shadow;

        &.active {
            background: $lush;
            transform: scale(1.1);
        }

        &:not(:disabled):hover {
            background: $sunkist;
            transform: scale(1.1);
        }
    }
}