<div class="main" @ANQueryScale>
    <button 
        *ngFor = 'let opt of icons'
        nz-button 
        class = 'btn'
        [class.active] = 'isActive(opt)'
        nzType="primary" 
        nzSize="default" 
        nzShape="circle"
        (click) = 'action(opt)'
    >
        <i 
            nz-icon
            class="toolbar-icon"
            nzTheme="outline"
            [nzType]="opt.icon"
        ></i>
    </button>
</div>
