@import 'styles.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    &__title {
        display: flex;
        align-items: center;

        &-logo {
            width: 80px;

            img {
                max-width: 100%;
            }
        }

        &-text {
            padding-left: 1rem;
            font-size: 2rem;
        }
    }

    .search {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &__control {
            flex-basis: 800px;
        }
    }

    .nav {
        display: flex;
        align-items: center;

        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 40px;

            &:hover {
                cursor: pointer;
            }

            &:hover > .drop-item {
                transform: translateY(0%) !important;
            }

            @for $i from 1 through 5 {
                .drop-item:nth-child(#{$i}) {
                    transform: translateY(-100% * ($i - 1));
                }
            }

            &-item {
                position: relative;
                padding: .25rem;
                transition: transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

                &:first-child i {
                    font-size: 2rem;
                    background: #fff;
                }

                &:first-child {
                    z-index: 1;
                }

                i {
                    font-size: 1.3rem;
                }
            }
        }

        &__avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-left: 1rem;
            display: flex;
            border: 2px solid;
            border-left-color: tomato;
            border-right-color: lightseagreen;
            border-top-color: goldenrod;
            border-bottom-color: darkmagenta;
            overflow: hidden;
            cursor: pointer;

            img {
                max-width: 100%;
                object-fit: cover;
            }

            i {
                margin: auto;
                font-size: 1.5rem;
            }
        }
    }
}



