<header class="header">
    <div class="header__title">
        <div class="header__title-logo">
            <img src="/assets/img/dashboard/logo.png" alt="app logo">
        </div>
        <p class="header__title-text">Таблицы</p>
    </div>
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__menu-item">
                <i nz-icon nzType="appstore" nzTheme="twotone"></i>
            </li>
            <li class="nav__menu-item drop-item icon" 
                nz-tooltip
                nzTooltipTitle = "Выход"
                nzTooltipPlacement = 'left'
                (click) = 'logout()'
            >
                <i nz-icon nzType="logout" nzTheme="outline"></i>
            </li>
            <li class="nav__menu-item drop-item icon" 
                nz-tooltip
                nzTooltipTitle = "Удалить аккаунт"
                nzTooltipPlacement = 'left'
                (click) = 'remove()'
            >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </li>
        </ul>
        <div 
            class="nav__avatar" 
            nz-tooltip
            [nzTooltipTitle] = 'getAvatarTooltip()'
            (click) = 'showUpload("show")'
        >
            <ng-container *ngIf = 'avatar;then avatarTpl;else emptyTpl'></ng-container>
            <ng-template #avatarTpl>
                <img [@ANFadeState] = 'avatar' [src]="avatar | hostprefix" alt="avatar">
            </ng-template>
            <ng-template #emptyTpl>
                <i nz-icon nzType="question" nzTheme="outline"></i>
            </ng-template>
        </div>
    </nav>
</header>

<excel-upload 
    *ngIf = 'isShowUpload'
    [request] = 'isUploadReq'
    (hide) = 'showUpload("hide")'
    (upload) = 'upload($event)'
></excel-upload>
